<!-- <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/student.css">

    <title>Welcome to CMS</title>
</head>

<body>
    <div id="progressbar"></div>

    <script>
        document.ready = function(callback) {
            if (document.readyState != 'loading') {
                callback();
            } else {
                document.addEventListener('DOMContentLoaded', callback);
            }
        };


        (function() {

            document.ready(function() {

                /* We have to know some stuff of the current screen, that we will get over the following variables */
                let progressbar = document.getElementById("progressbar");
                if (!!progressbar) {

                    let body = document.getElementsByTagName("body")[0];
                    let window_height = body.offsetHeight;
                    let client_height = document.documentElement.clientHeight;

                    /* The following variables are for storing the neccessary scroll-data */
                    let last_known_scroll_position = 0;
                    let ticking = false;

                    /* This Event-Listener will hook onto the Scroll-Event of the Browser */
                    window.addEventListener('scroll', function(e) {

                        last_known_scroll_position = window.scrollY;
                        if (!ticking) {

                            window.requestAnimationFrame(function() {

                                nowScrolling(last_known_scroll_position);
                                ticking = false;

                            });
                            ticking = true;

                        }

                    });

                    /*
                    I use the Client-Height for a accurate percentage of the current screen-state.
                    On window-resizing the variable "client_height" would stay the same, if I won't add this Event-Listener
                    */
                    window.addEventListener("resize", refactorScreenHeight);
                    var mutationObserver = new MutationObserver(refactorScreenHeight);
                    mutationObserver.observe(document.documentElement, {
                        attributes: true,
                        characterData: true,
                        childList: true,
                        subtree: true,
                        attributeOldValue: true,
                        characterDataOldValue: true
                    });

                    function refactorScreenHeight() {

                        client_height = document.documentElement.clientHeight;
                        window_height = body.offsetHeight;

                    }

                    function nowScrolling(last_known_scroll_position) {

                        /* Here you also can add your own functions. The following is an example for the Scroll-Bar */
                        let percentage = last_known_scroll_position / (window_height - client_height) * 100;
                        progressbar.style.right = "calc( 100% - " + Math.round(percentage) + "% )";

                    }

                }

            });

        })();
    </script>
    <div id="container0" class="center">
        <div class="loader">
            <p class=load>CMS</p>
        </div>

    </div>
    <script>
        document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                    "body").style.visibility = "hidden";
                document.querySelector(
                    "#container0").style.visibility = "visible";
            } else {
                document.querySelector(
                    "#container0").style.display = "none";
                document.querySelector(
                    "body").style.visibility = "visible";
            }
        };
    </script>

    <header>
        <img class="logo" src="logo1.JPG" alt="logo">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#contact">Teacher</a></li>
            <!-- <li><a href="home.html" class="but">Sign-out</a></li> -->
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        </ul>
    </header>





    <div class="student"><br><br>

        <nav style="position: relative; left: -2rem; margin-top: 7rem;">
            <ul>
                <a href="/open_home">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="home.png" alt="home">
                    </li>
                </a>
                <a href='/profile_teacher'>
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="user.png" alt="user">
                    </li>
                </a>
                <a href="/marks">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="medical-results.png" alt="result">
                    </li>
                </a>
                <a href="/add_mark">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="check_mark_006.jpg" alt="result">
                    </li>
                </a>
                <a href="/attendance">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="calendar (1).png" alt="attendance">
                    </li>
                </a>
            </ul>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="intro">WELCOME <%= welcome_name %></span>

                </div>
                <div class="col">
                    <img style="width: 50rem; margin-top: 6rem; " src="6963.jpg" alt="cms">
                </div>
            </div>
        </div>


    </div>


    <%- include('partials/footer') %>